 {% extends 'base.html.twig' %}


{% block title "Nos Destinations" %}
 
{% block body %}

     <h2 style="color: #154A72" >Nos destinations : </h2>
   <div class="list-group">
  <li class="list-group-item list-group-item-primary" style="width:400px" >Paris</li>
   <li class="list-group-item list-group-item-primary" style="width:400px" >Espagne</img></li>
    <li class="list-group-item list-group-item-primary" style="width:400px" >Maldives</li>
     <li class="list-group-item list-group-item-primary" style="width:400px" >Dubai</li>
 
</ul></div>


{% endblock %}

 
 
 