 {% extends 'base.html.twig' %}


{% block title "Let's Travel" %}
{% block body %}
   <center>  <h1 style="color: #154A72" >Bienvenue à notre site </h1>
     <div >Bienvenue sur le site de votre agence Let's Travel. Forte de son ambition à vous satisfaire , notre agence vous offre des circuits de reve dans les quatres coins du monde. </div>
    </center>
{% endblock %}
